body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    max-width: 300px;
    max-height: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: scale(0.3s);
    cursor: pointer;
}
.menu-item:hover{
    background: #f8f8f8;
    transform: scale(0.5s);
}

.menu-item h2 {
    margin: 0 0 10px;
}
.menu-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.menu-item p {
    margin-top: 10px;
    color: #666;
}
